<!DOCTYPE html>
<html lang="en">
<head>



  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">



  <title>Title</title>


</head>

<body>
  <i class='fa fa-arrow-left fa-4x'  [routerLink]="['/home']"></i>
  <div class="header">

    <img class="doktor-ikon" src="../../assets/images/docImg.svg" alt="doktor-ikon" /><br />
    <h1 *ngIf="error" class="notificationError">Problemer med server tilkobling </h1>

    <span class="scalableTitle">    Symptomkalkulator</span>

  </div>


  <div class="bokser">

    <div *ngIf="diagnose" class="boks boks1">

      <h3 class='underoverskrift'> Informasjon om diagnosen {{diagnose.navn}}</h3>
      <span>

        {{diagnose.dypForklaring}}
      </span>
    </div>
  </div>

</body>
</html>

