<!DOCTYPE html>
<html lang="en">
<head>



  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">



  <title>Title</title>


</head>

<body>

  <div class="header">

    <img class="doktor-ikon" src="../../assets/images/docImg.svg" alt="doktor-ikon" /><br />
    <h1 *ngIf="error" class="notificationError">Problemer med server tilkobling </h1>

    Symptomkalkulator

  </div>

  <div class="bokser">

   



        <div class="boks boks2">
          <h1>Logg inn</h1>

          <div [formGroup]="logInSkjema" >
            <div >
              <label for="brukernavn"  class="inputTextLabel"><strong>Brukernavn:</strong></label>

              <input type="text" id="brukernavn" formControlName="brukernavn" />
              <span style="color:red" *ngIf="this.logInSkjema.controls['brukernavn'].status=='INVALID'"> Ugyldig input</span><br />
            </div>
            <div>

            </div>
            <div >
              <label for="passord"  class="inputTextLabel"><strong>Passord:</strong></label>
              <input type="password" formControlName="passord" id="passord" />
              <span style="color:red" *ngIf="this.logInSkjema.controls['passord'].status=='INVALID'"> Ugyldig input</span><br />
            </div>
            <div >
              <input type="button" value="Logg inn" (click)="LoggInn()" class="knapp" />

            

          </div>
        </div>

      </div>
    </div>

</body>
</html>






