<!DOCTYPE html>
<html lang="en">
<head>



  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">



  <title>Title</title>
  
  
</head>

<body *ngIf="erInnlogget">

  <div class="header">

    <img class="doktor-ikon" src="../../assets/images/docImg.svg" alt="doktor-ikon" /><br />  <h1 *ngIf="harLagret" class="notificationOk">Diagnosen ble lagret </h1>
    <h1 *ngIf="error" class="notificationError">Problemer med server tilkobling </h1>
    <span class="scalableTitle">    Symptomkalkulator</span>

  </div>



  <div class="bokser">
    <div class="boks boks1">
      <div class="underoverskrift">
        <h2>Kryss av dine symptomer:</h2>
      </div>
      <div id="symptomGrupper">
        <div *ngFor="let symptomGruppe of symptomGrupper">
          <div id="meny">
            <button class='knapp' (click)="toggleKategori(symptomGruppe.symptomGruppeId)">
              <i class="fa-solid fa-circle-info fa-2xl" [routerLink]="['/infoSymptomGruppe',symptomGruppe.symptomGruppeId]"></i>
              {{symptomGruppe.navn}}

              <img class='dropDownIkon' src='../../assets/images/pilned.png' alt='dropdown ikon'>
            </button>


            <div *ngIf="symptomGruppe.doShow">
              <div *ngFor="let symptom of symptomerMap.get(symptomGruppe.symptomGruppeId)">
                <input class="symptomene" type="checkbox" name="symptom" value="String(symptom.name)" (click)="toggleSelectList(symptomGruppe.symptomGruppeId,symptom.symptomId)">
                <label>{{symptom.navn}} <i class="fa-solid fa-circle-info fa-2xl" [routerLink]="['/infoSymptom',symptom.symptomId]"></i></label>
                <label class="varighet" *ngIf="symptom.doHave"> Velg varighet:</label>
        
                <select class="varighet" *ngIf="symptom.doHave" (change)="doSetOption(symptomGruppe.symptomGruppeId,symptom.symptomId,$event)">
                  <option *ngFor="let optionsVarighet of optionsVarigheter">{{optionsVarighet}}</option>
                </select>    <br />
              </div>

            </div>


          </div>

        </div>
      </div>


    </div>


  </div>
    <div class="bokser">

      <div class="boks boks1">
        <form [formGroup]="lageSchema">

          <h2 class='underoverskrift'>Lagre diagnose:</h2>
          <span>
            Ny diagnose vil ha symptomene du krysset av, og de varigheter du har valgt.

          </span>

          <div>

            <label for="navnDiagnose"><strong>Navn</strong></label><br />
            <span style="color:red" *ngIf="this.lageSchema.controls['navn'].status=='INVALID'"> Ugyldig input</span><br />
            <input class="input" formControlName="navn" id="navnDiagnose" />
          </div>
          <div>

            <label for="beskrivelseDiagnose"><strong>Beskrivelse</strong></label><br />
            <span style="color:red" *ngIf="this.lageSchema.controls['beskrivelse'].status=='INVALID'"> Ugyldig input</span><br />
            <textarea class="boks boks1" formControlName="beskrivelse" id="beskrivelseDiagnose"></textarea>
          </div>

          <div>

            <label for="dypForklaringDiagnose"><strong>Dyp forklaring</strong></label><br />
            <span style="color:red" *ngIf="this.lageSchema.controls['dypForklaring'].status=='INVALID'">Ugyldig input</span><br />
            <textarea class="boks boks1" formControlName="dypForklaring" id="dypForklaringDiagnose"></textarea>
          </div>

          <button class="knapp" id="nyDiagnose" (click)="lagre()">Lagre diagnose</button>


        </form>
      </div>
    </div>

</body>
</html>

