<!DOCTYPE html>
<html lang="en">
<head>



  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">



  <title>Title</title>


</head>

<body>
  <i class='fa fa-arrow-left fa-4x' [routerLink]="['/home']"></i>
  <div class="header">

    <img class="doktor-ikon" src="../../assets/images/docImg.svg" alt="doktor-ikon" /><br />


    <span class="scalableTitle">    Symptomkalkulator</span>

  </div>


  <div class="bokser">

    <div  class="boks boks1">

      <h3 class='underoverskrift'> Informasjon om appen</h3>
      <span>

         Dette er en app som finner diagnoser en kan ha, men nødvendigvis ikke har nok symptomer til å ha.
         Ved å krysse av symptomer, sammen med hvor lenge en har hatt symptomet, så vil en kunne finne potensielle
         diagnoser en kan ha. 
      </span>
    </div>
  </div>

</body>
</html>

