<!DOCTYPE html>
<html lang="en">
<head>



  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">



  <title>Title</title>
  
</head>

<body>

<i class='fa fa-arrow-left fa-4x' [routerLink]="['/listDiagnoser']"></i>
  <div class="header">

    <img class="doktor-ikon" src="img/docImg.svg" alt="doktor-ikon" />
    Symptomkalkulator

  </div>



  <div class="bokser">
    <div class="boks boks1">
      <div class="underoverskrift">
        <h2>Kryss av dine symptomer:</h2>
      </div>
      <div id="symptomGrupper">
      </div>

    </div>

    <div class="boks boks2">
      <div id="diagnoser">

        <h2 class='underoverskrift'>Diagnoser:</h2>
      </div>
    </div>
  </div>
  <div class="bokser">

    <div class="boks boks1">
      <form [formGroup]="endreSchema">

        <h2 class='underoverskrift'>Endre diagnose:</h2>
        <span>
          Når en endrer diagnose ved å trykke på endre knapp ved siden av diagnose, og trykker utfør endring, så
          vil ikke diagnosen få nye symptomer/varigheter.
        </span>
        <input class="boks boks1" type="hidden" formControlName="diagnoseId" id="diagnoseIdEndre" />
        <div>

          <label for="navnDiagnose"><strong>Navn</strong></label><br />
          <span style="color:red" *ngIf="this.endreSchema.controls['navn'].status=='INVALID'"> Ugyldig input</span><br />
          <input class="input" formControlName="navn" id="navnDiagnose" />
        </div>
        <div>

          <label for="beskrivelseDiagnose"><strong>Beskrivelse</strong></label><br />
          <span style="color:red" *ngIf="this.endreSchema.controls['beskrivelse'].status=='INVALID'"> Ugyldig input</span><br />
          <textarea class="boks boks1" formControlName="beskrivelse" id="beskrivelseDiagnose"></textarea>
        </div>

        <div>

          <label for="dypForklaringDiagnose"><strong>Dyp forklaring</strong></label><br />
          <span style="color:red" *ngIf="this.endreSchema.controls['dypForklaring'].status=='INVALID'">Ugyldig input</span><br />
          <textarea class="boks boks1" formControlName="dypForklaring" id="dypForklaringDiagnose"></textarea>
        </div>

        <button class="knapp" id="endreDiagnose" (click)="utforEndring()" [disabled]="!this.endreSchema.valid">>Utfør endring</button>

      </form>
    </div>
  </div>
</body>
</html>

