<!DOCTYPE html>
<html lang="en">
<head>



  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">



  <title>Title</title>
  <script defer>
    $(document).ready(async function () {
      await swal("Velkommen til symptom kalkulatoren", "Trykk på de ulike checkboxene gjemt under svarte knappene, og varier hvor lenge du har hatt symptomet. \n Når du gjør dette vil du få diagnoser som inneholder de symptomene du har ", "info")
      hentSymptomGrupper();

    });




    //"1","3,"5"... 1,"2",4 eller 1,2,4...
    function hentDiagnoserGittSymptomer(inputIdList, inputVarighetValgListe) {
      let inputConverted = inputIdList.map((x) => Number(x));
      let inputVarighetValgListeConverted = inputVarighetValgListe.map((x) => Number(x));

      let listeTilSend = [];

      inputConverted.forEach((ele, idx) => {
        let symptomDTO = {
          id: ele,
          varighet: inputVarighetValgListeConverted[idx]
        }
        listeTilSend.push(symptomDTO);
      });
      $.post({
        url: "Diagnose/getDiagnoserGittSymptomer",
        data: JSON.stringify(listeTilSend),
        contentType: "application/json; charset=utf-8",
        dataType: 'json',
      }).done(async (res) => {
        $("#diagnoser").empty();
        let html = "<h2 class='underoverskrift'>Diagnoser:</h2>";
        $(html).appendTo("#diagnoser");
        res.forEach((diagnose) => {
          let html = "";
          html += "<div>";
          html += "<h3> " + String(diagnose.navn);



          html += "      <i  class='fa-solid fa-xmark  fa-2xl' onclick='forgetDiagnose(\"" + String(diagnose.diagnoseId) + "\")'></i>"
          html += "      <button class='knapp2' onclick='endre(\"" + String(diagnose.diagnoseId) + "\")'>Endre</button>"
          html += "</h3 > ";
          html += String(diagnose.beskrivelse);
          html += "      </div>";
          html += "         <br>";
          $(html).appendTo("#diagnoser");
        });


      }).fail((x) => {
        swal("Fikk ikke hentet diagnosene", "Prøv igjen senere", "error")
      });
    }
    function nyDiagnose() {
      let symptomer = checked().map((x) => Number(x));
      let varigheter = [];
      symptomer.forEach((symId) => {
        let valg = document.getElementById("varighet" + String(symId)).selectedIndex;
        varigheter.push(valg);

      });

      let diagnoseDTO = {
        navn: String($("#navnDiagnose").val()),
        beskrivelse: String($("#beskrivelseDiagnose").val()),
        dypForklaring: String($("#dypForklaringDiagnose").val()),
        symptomer: symptomer,
        varigheter: varigheter
      }
      $.post({
        url: "Diagnose/nyDiagnose",
        data: JSON.stringify(diagnoseDTO),
        contentType: "application/json; charset=utf-8",
        dataType: 'json',
      }).done(async (res) => {
        await swal("Fikk lagret diagnosen", "Fikk lagret diagnosen", "success");
        sendIdAndSelectListToServer();
      }).fail((x) => {
        swal("Fikk ikke legge til", "Prøv igjen senere", "error")
      });


    }

    function utforEndring() {

      let diagnose = {
        diagnoseId: Number($("#diagnoseIdEndre").val()),
        navn: String($("#navnDiagnose").val()),
        beskrivelse: String($("#beskrivelseDiagnose").val()),
        dypForklaring: String($("#dypForklaringDiagnose").val())
      }
      $.post({
        url: "Diagnose/update",
        data: JSON.stringify(diagnose),
        contentType: "application/json; charset=utf-8",
        dataType: 'json',
      }).done(async (res) => {
        await swal("Fikk endret diagnosen", "Fikk endret diagnosen", "success");
        sendIdAndSelectListToServer();
      }).fail((x) => {
        swal("Fikk ikk endre", "Prøv igjen senere", "error")
      });


    }

    function forgetDiagnose(diagnoseId) {

      $.get({
        url: "Diagnose/forgetDiagnose/" + String(diagnoseId),
        data: {},
        contentType: "application/json; charset=utf-8"
      }).done(async (res) => {
        await swal("Diagnosen er nå glemt", "Fra nå av vil du aldri se denne diagnosen mer", "success");
        sendIdAndSelectListToServer();
      }).fail((x) => {
        swal("Kunne ikke å fjerne diagnosen", "Prøv igjen senere", "error")
      });
    }

    function hentSymptomer() {
      $.get({
        url: "Diagnose/getSymptomer",
        data: {},
        contentType: "application/json; charset=utf-8"
      }).done((res) => {
        var IDList = document.querySelectorAll('input[name="1"]:checked').value;
        tidsint();
      }).fail((x) => {
        swal("Noe gikk galt", "prøv igjen senere", "error")
      });
    }
    function hentDiagnoseGittDiagnoseId(id) {
      $.get({
        url: "Diagnose/hentDiagnoseGittDiagnoseId/" + String(id),
        data: {},
        contentType: "application/json; charset=utf-8"
      }).done((res) => {
        $("#navnDiagnose").val(String(res.navn));
        $("#beskrivelseDiagnose").val(String(res.beskrivelse));
        $("#dypForklaringDiagnose").val(String(res.dypForklaring));
        $("#diagnoseIdEndre").val(String(res.diagnoseId));
      }).fail((x) => {
        swal("Noe gikk galt", "prøv igjen senere", "error")
      });
    }
    function hentDiagnoser() {
      $.get({
        url: "Diagnose/getDiagnoser",
        data: {},
        contentType: "application/json; charset=utf-8"
      }).done(async (res) => {

        $("#diagnoser").empty();
        let html = "<h2 class='underoverskrift'>Diagnoser:</h2>";
        $(html).appendTo("#diagnoser");
        res.forEach((diagnose) => {
          let html = "";
          html += "<div>";
          html += "<h3> " + String(diagnose.navn);



          html += "      <i  class='fa-solid fa-xmark  fa-2xl' onclick='forgetDiagnose(\"" + String(diagnose.diagnoseId) + "\")'></i>"
          html += "      <button class='knapp2' onclick='endre(\"" + String(diagnose.diagnoseId) + "\")'>Endre</button>"
          html += "</h3 > ";
          html += String(diagnose.beskrivelse);
          html += "      </div>";
          html += "         <br>";
          $(html).appendTo("#diagnoser");
        });
        await swal("Fikk hentet diagnosene", "Ved å trykke på checkboxene og ved å variere hvor lenge en har hatt ulike symptomer, så vil listen over diagnoser du kan ha endre seg", "success")

      }).fail((x) => {
        swal("Fikk ikke hentet diagnosene", "Prøv igjen senere", "error")
      });
    }
    function hentSymptomerGittSymptomGruppeId(id, name) {

      $.get({
        url: "Diagnose/getSymptomerGittGruppeId/" + String(id),
        data: {},
        contentType: "application/json; charset=utf-8"
      }).done(async (res) => {
        res.forEach((symptom) => {


          let html = "<input class='symptomene' type='checkbox' id='" + String(symptom.symptomId) + "' name='1' value='" + String(name) + "' onclick='checkbox(this)'>";
          html += "<label for='" + String(symptom.symptomId) + "'>" + String(symptom.navn) + "</label>";

          html += "<label class='varighet' for='varighet" + String(symptom.symptomId) + "'>Velg varighet</label>";
          html += "<select class='varighet' id='varighet" + String(symptom.symptomId) + "'  onchange='sendIdAndSelectListToServer()'>";
          html += "   <option>--</option>";
          html += "    <option>1-3 dager</option>";
          html += "    <option>Flere dager</option>";
          html += "     <option>1-3 uker</option>";
          html += "     <option>1-3 måneder</option>";
          html += "       <option>Flere måneder</option>";
          html += "       <option>1-3 år</option>";
          html += "       <option>Flere år</option>";
          html += "    </select>";

          html += "     <br/>";
          $(html).appendTo("#symGruppe" + String(symptom.symptomGruppeId));
        });

      });
    }
    function hentDiagnoserGittDiagnoseGruppe(id) {

      $.get({
        url: "Diagnose/getDiagnoserGittId/" + String(id),
        data: {},
        contentType: "application/json; charset=utf-8"
      }).done((res) => {

      });
    }
    function hentSymptomGrupper() {
      $.get({
        url: "Diagnose/getSymptomGrupper",
        data: {},
        contentType: "application/json; charset=utf-8"
      }).done((res) => {
        res.forEach((symGruppe) => {
          let html = "<div id='meny" + String(symGruppe.symptomGruppeId) + "' >";
          html += "<button class='knapp' onclick='toggleKategori(\"symGruppe" + String(symGruppe.symptomGruppeId) + "\")'>" + String(symGruppe.navn);
          html += "<img class='dropDownIkon' src='img/pilned.png' alt='dropdown ikon'>";
          html += "</button>"

          html += "<div id = 'symGruppe" + String(symGruppe.symptomGruppeId) + "' style = 'display:none' >";

          html += "</div>";
          html += "</div>";
          $(html).appendTo("#symptomGrupper");
          hentSymptomerGittSymptomGruppeId(symGruppe.symptomGruppeId, symGruppe.navn);
        });

      });
    }

    function hentDiagnoseGrupper() {
      $.get({
        url: "Diagnose/getDiagnoseGrupper",
        data: {},
        contentType: "application/json; charset=utf-8"
      }).done((res) => {

      });

      return []
    }

    function checkbox() {
      var checkBox = document.getElementById("001");
      var dropdown = document.getElementById("varighet001");

      if (checkBox.checked) {
        checkBox.style.display = "block";
      }
      else {
        dropdown.style.display = "none";
      }
    }
    /**
    $('[type="checkbox"][id="001"]').click(function () {
        $("select.varighet001").toggle(this.checked);
    });
    */
    /*function list() {
    var ID = [];

    //Hode
    for (i=001; i < 013; i++ ){
    var check  = document.getElementById(i);
        if (check.checked){
            if(i in ID === false){
               ID += i;
            }
        }
        else{
            if(i in ID === true){
                ID -= i;
            }
        }
        i++;
    }
    //Overkropp
    for (i=101; i < 117; i++ ){
    var check  = document.getElementById(i);
        if (check.checked){
            if(i in ID === false){
               ID += i;
            }
        }
        else{
            if(i in ID === true){
                ID -= i;
            }
        }
        i++;
    }
    //underkropp
    for (i=201; i < 218; i++ ){
    var check  = document.getElementById(i);
        if (check.checked){
            if(i in ID === false){
               ID += i;
            }
        }
        else{
            if(i in ID === true){
                ID -= i;
            }
        }
        i++;
    }
    console.log(ID);
    }*/

    function checked() {
      let sympt = document.querySelectorAll('input[name="1"]:checked');
      let id = sympt.id;
      var IDs = [];
      sympt.forEach((checkbox) => {
        if (id in IDs === false) {
          IDs.push(checkbox.id);
        }
      });
      if (sympt === false) {
        if (id in IDs === true) {
          IDs.Remove(id);
        }
      }
      return IDs;
    }
    function endre(id) {
      hentDiagnoseGittDiagnoseId(id);
    }

    function sendIdAndSelectListToServer() {
      let symptomIDs = checked();
      let varigheter = [];
      symptomIDs.forEach((symId) => {
        let valg = document.getElementById("varighet" + String(symId)).selectedIndex;
        varigheter.push(valg);

      });

      hentDiagnoserGittSymptomer(symptomIDs, varigheter);


    }

    function checkbox(inp) {
      let dropwdown = document.getElementById("varighet" + String(inp.id));
      if (inp.checked) {

        dropwdown.selectedIndex = 1;
        dropwdown.style.display = "inline";
      }
      else {
        dropwdown.selectedIndex = 0;
        dropwdown.style.display = "none";
      }
      sendIdAndSelectListToServer()
    }

    function kategoriHode() {

      var x = document.getElementById("hode");
      if (x.style.display === "") {
        x.style.display = "none";
      }
      else {
        x.style.display = "";
      }
    }

    function kategoriOverkropp() {

      var x = document.getElementById("overkropp");
      if (x.style.display === "none") {
        x.style.display = "block";
      }
      else {
        x.style.display = "none";
      }
    }

    function kategoriUnderkropp() {

      var x = document.getElementById("underkropp");
      if (x.style.display === "none") {
        x.style.display = "block";
      }
      else {
        x.style.display = "none";
      }
    }
    // husk å referere til kilde koden er hentet fra

    function toggleKategori(id) {

      var x = document.getElementById(String(id));
      if (x.style.display === "none") {
        x.style.display = "block";
      }
      else {
        x.style.display = "none";
      }
    }

  </script>
</head>

<body>

  <div class="header">

    <img class="doktor-ikon" src="img/docImg.svg" alt="doktor-ikon" />
    Symptomkalkulator

  </div>




  <div class="bokser">
    <div class="boks boks1">
      <div class="underoverskrift">
        <h2>Kryss av dine symptomer:</h2>
      </div>
      <div id="symptomGrupper">
        <div *ngFor="let symptomGruppe of symptomGrupper">
          <div id="meny">
            <button class='knapp' (click)="toggleKategori(symptomGruppe.symptomGruppeId)">
              {{symptomGruppe.navn}}<img class='dropDownIkon' src='img/pilned.png' alt='dropdown ikon'>";
            </button>
            <div *ngIf="!symptomGruppe.hidden">
              <div *ngFor="let symptom of symptomerMap.get(symptomGruppe.symptomGruppeId)">
                <input class="symptomene" type="checkbox" id="String({{symptom.symptomId}})" name="symptom" value="String(symptom.name)" (click)="toggleSelectList(symptomGruppe.symptomGruppeId,symptom.symptomId)">
                <label for=" + String(symptom.symptomId) + ">{{symptom.navn}}</label>
                <label class="varighet" for="varighet symptom.symptomId">Velg varighet</label>
                <select class="varighet" id="varighet + String(symptom.symptomId)  " *ngIf="symptom.doHave" (change)="sendIdAndSelectListToServer()">
                  <option>--</option>
                  <option>1-3 dager</option>
                  <option>Flere dager</option>
                  <option>1-3 uker</option>
                  <option>1-3 måneder</option>
                  <option>Flere måneder</option>
                  <option>1-3 år</option>
                  <option>Flere år</option>
                </select>    <br />
              </div>



          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="boks boks2">
    <div id="diagnoser">

      <h2 class='underoverskrift'>Diagnoser:</h2>
    </div>
  </div>
  </div>
  <div class="bokser">

    <div class="boks boks1">
      Test kode for å endre:

      <button [routerLink]="['/endre',3]"> Test endre</button>
      <button [routerLink]="['/endre',4]"> Test endre 2</button>
      <button [routerLink]="['/endre',1]"> Test endre 3</button>
      <button [routerLink]="['/infoDiagnose',1]"> Test info diagnose</button>
      <button [routerLink]="['/infoDiagnose',3]"> Test info diagnose 2</button>
      <button [routerLink]="['/infoDiagnose',6]"> Test info diagnose 3</button>
      <button [routerLink]="['/infoSymptomGruppe',1]"> Test info symptom gruppe</button>
      <button [routerLink]="['/infoSymptomGruppe',4]"> Test info symptom gruppe 2</button>
      <button [routerLink]="['/infoSymptomGruppe',2]"> Test info symptom gruppe 3</button>
      <button [routerLink]="['/infoSymptom',1]"> Test info symptom </button>
      <button [routerLink]="['/infoSymptom',3]"> Test info symptom 2 </button>
      <button [routerLink]="['/infoSymptom',8]"> Test info symptom 3 </button>
    </div>
  </div>
</body>
</html>

